@import '../global/variable.scss';

::selection {
	color: $main-color;
	background-color: #bbb;
}
// 滚动条样式
::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}
::-webkit-scrollbar-thumb {
	background: $opacity-hover-color;
	border-radius: 5rem;
	:hover {
		cursor: pointer;
	}
}
::-webkit-scrollbar-track {
	background: #ccc;
}

// 加载条
#nprogress .bar {
	height: 3px !important;
	background: $main-color !important;
}

// .el-button {
// 	box-shadow: inset 0 0 10px -1px rgba(0, 0, 0, 0.3);
// }

// 自定义加载动画
.custom-loading {
	.circular {
		width: 100px;
		height: 30px;
		animation: none;
	}
}

// message提示信息
.el-message {
	@extend %flex-center;
	.el-message__content {
		font-size: 1.2rem;
	}
}

// 菜单栏
// .el-menu {
// 	&>.is-active {
// 		background-color: $active-bg-color;
// 	}
// }
.el-menu--horizontal {
	border-bottom: none !important;
}

// 下拉选项
.el-popper {
	border: 1px solid $main-color !important;
	.el-menu {
		min-width: 5rem;
	}
	.el-popper__arrow::before {
		border-color: $main-color !important;
		background-color: $main-color !important;
	}
}