@import '../global/variable.scss';

::selection {
	color: $main-color;
	background-color: #bbb;
}
// 滚动条样式
::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}
::-webkit-scrollbar-thumb {
	background: $opacity-hover-color;
	border-radius: 5rem;
	:hover {
		cursor: pointer;
	}
}
::-webkit-scrollbar-track {
	background: #ccc;
}

// 加载条
#nprogress .bar {
	height: 3px !important;
	background: $main-color !important;
}

// .el-button {
// 	box-shadow: inset 0 0 10px -1px rgba(0, 0, 0, 0.3);
// }
// 输入框
.el-input-group__append, .el-input-group__prepend {
	background-color: $main-bg-color;
	color: #fff;
}
// 自定义加载动画
.custom-loading {
	.circular {
		width: 100px;
		height: 30px;
		animation: none;
	}
}

// message提示信息
.el-message {
	@extend %flex-center;
	.el-message__content {
		font-size: 1.2rem;
	}
}

// 菜单栏
.el-menu--horizontal {
	border-bottom: none !important;
	.el-sub-menu {
		.el-sub-menu__title {
			&:hover {
				background-color: $active-bg-color;
			}
		}
	}
}

// 下拉选项
.el-select {
	.el-select-dropdown__item {
		:hover {
			color: #fff;
			background-color: $active-bg-color;
		}
	}
}
.el-popper {
	border: 1px solid $main-color !important;
	.el-menu {
		min-width: 5rem;
	}
	.el-popper__arrow::before {
		border-color: $main-color !important;
		background-color: $main-color !important;
	}
}

// tree树形控件
.el-tree {
	background-color: $main-color;
	.el-tree-node {
		.el-tree-node__content {
			.el-tree-node__expand-icon {
				color: #fff;
			}
		}
	}
}

// 时间选择
.el-picker-panel {
	background-color: $main-color;
	.el-picker-panel__body-wrapper {
		.el-picker-panel__sidebar, .el-picker-panel__sidebar {
			background-color: $main-color;
		}
		.el-picker-panel__content {
			.el-date-table {
				td.next-month,  td.prev-month {
					color: #bbb;
				}
				td.available{
					color: #fff;
					.el-date-table-cell:hover {
						background-color: $main-color;
					}
				}
				td.today {
					color: #fff;
					background-color: $main-color;
					.el-date-table-cell__text {
						color: #fff;
					}
				}
			}
			.el-date-range-picker__header {
				color: #fff;
			}
		}
	}
	.el-picker-panel__footer {
		background-color: $main-color;
		.is-text, .is-plain, .is-text:hover {
			background-color: $light-color;
			color: #fff;
			border-radius: 4px;
		}
	}
	.el-date-picker__header-label {
		color: #fff;
	}
	.el-time-panel {
		background-color: $main-color;
		.el-time-spinner__item {
			color: #fff;
			&:hover:not(.is-disabled):not(.is-active) {
				color: #fff;
				background-color: $active-bg-color;
			}
			&:hover:not(.is-active):not(.is-disabled) {
				color: $active-text-color;
			}
		}
		.is-active:not(.is-disabled) {
			color: $active-text-color;
		}
		.el-time-panel__footer {
			.cancel, .confirm {
				background-color: #fff;
				color: #000;
				border-radius: 5px;
			}
			.confirm {
				background-color: $light-color;
				color: #fff;
			}
		}
	}
}
.el-date-editor {
	.el-icon, .el-range-input, .el-range-separator {
		color: #fff;
	}
	.el-range-input {
		&:-webkit-input-placeholder {
			color: $text-light-color;
		}
	}
}

// 次级选择框
.el-cascader-panel {
	background-color: $main-color;
	border-color: $main-color;
}
.el-cascader__dropdown.el-popper {
	background-color: $main-color;
}

// 表单
// .el-form {
// }

// 弹框
.el-dialog {
	.el-dialog__header {
		background-color: $main-color;
		color: #fff;
		.el-dialog__title {
			color: #fff;
		}
	}
}