@use './variable.scss' as *;
@use '../custom/rewrite.scss';
@use 'nprogress/nprogress.css';
@use './reset.css';

@forward 'element-plus/theme-chalk/src/common/var.scss'
	with(
		$colors: (
			'primary': (
				'base': $main-color
			),
			'success': (
				'base': green
			),
			'warning': (
				'base': orange
			),
			'danger': (
				'base': red
			),
			'error': (
				'base': red
			),
			'info': (
				'base': #333
			)
		),
		$main: (
			'padding': 0
		),
		$message: (
			'min-width': 150px,
			'padding': 8px,
		),
		// $button-padding-horizontal: (
		// 	"default": 80px
		// ),
		// $button-border-radius: (
		// 	'large': 10px,
		// 	'default': 8px,
		// 	'small': 6px
		// ),
		$input-padding-horizontal:
			(
				'large': 12px,
				'default': 10px,
				'small': 8px
			),
		$select-dropdown: (
			'padding': 3px 0,
			'empty-padding': 20px 0,
			'bg-color': $opacity-color
		),
		$select-option: (
			'text-color': $text-light-color,
			'hover-background': $opacity-hover-color,
			'selected-text-color': $main-color
		)
	);

// 导入深色模式主题
@use 'element-plus/theme-chalk/dark/css-vars.css' as *;
@use './element-dark.scss';
