// 浅色模式
$main-color: rgb(0, 66, 141); // 主题色
$deep-color: rgb(0, 45, 97); // 更深色
$main-bg-color: rgba($main-color, 0.5); // 半透明背景
$opacity-color: rgba($main-color, 0.2);
$opacity-most-color: rgba($main-color, 0.1);
$opacity-hover-color: rgba($main-color, 0.3);
$text-light-color: #4d4d4d;
$text-dark-color: #fff;

// 深色模式
$main-dark-color: rgb(58, 94, 135);

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}