// 浅色模式
$main-color: #006c84; // 主题色
$deep-color: darken($main-color, 10%); // 更深色
$active-text-color: rgb(210, 87, 0); // 激活文字颜色
$active-bg-color: #369; // 激活背景颜色
$main-bg-color: rgba($main-color, 0.5); // 半透明背景
$opacity-color: rgba($main-color, 0.2);
$opacity-most-color: rgba($main-color, 0.1);
$opacity-hover-color: rgba($main-color, 0.3);
$text-light-color: #4d4d4d;
$text-dark-color: #fff;

// 深色模式
$main-dark-color: rgb(58, 94, 135);

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}