$main-color: rgb(4, 45, 93); // 主题色
$main-bg-color: rgba($main-color, 0.5); // 半透明背景
$opacity-color: rgba($main-color, 0.2);
$opacity-most-color: rgba($main-color, 0.1);
$opacity-hover-color: rgba($main-color, 0.3);
$text-light-color: #4d4d4d;
$text-dark-color: #fff;
