@import '@var';

// 下拉框
.el-select__popper {
	transform: translateY(-11px);
	.el-popper__arrow {
		background-color: transparent !important;
		// top: -20px !important;
		width: 0 !important;
		height: 0 !important;
		// border: 10px solid transparent;
		// border-bottom-color: $opacity-most-color;
		&::before {
			display: none !important;
		}
	}
}

// 加载条
#nprogress .bar {
	height: 4px !important;
	background: $main-color !important;
	box-shadow: 0 0 5px #aaa;
}
